extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner LogU Container OS 1.0
    div.Message
      div.Title
        h1 New Address
      span.Details Generating an address in the IOTA protocoll.
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!