<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LogU IOTA Node</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/divider-text-middle.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 800px;">
    <div class="card" style="margin: 50px;">
        <div class="card-body text-center">
            <h4 class="card-title" style="text-align: center;">Welcome to the IOTA Chrysalis Node</h4>
            <h6 class="text-text-muted card-subtitle mb-2" style="text-align: center;"></h6>
            <p class="card-text" style="margin-top: 16px;">Here you can change variables and start the datastream onto the IOTA Chrysalis network.</p>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Topic Name</span><input class="form-control" type="text" value={{ topic_name }}><button class="btn btn-primary" type="button">Submit</button></div>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Passphrase</span><input class="form-control" type="text" value={{ passphrase }}><button class="btn btn-primary" type="button">Submit</button></div>
            <p class="card-text" style="margin-top: 16px;margin-bottom: 10px;">Node-Specific Informations:</p>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Container ID</span><input class="form-control" type="text" value={{ container_id }}><button class="btn btn-primary" type="button">Submit</button></div>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Departure</span><input class="form-control" type="text" value={{ departure }}><button class="btn btn-primary" type="button">Submit</button></div>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Arrival</span><input class="form-control" type="text" value={{ arrival }}><button class="btn btn-primary" type="button">Submit</button></div>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Contents</span><input class="form-control" type="text" value={{ contents }}><button class="btn btn-primary" type="button">Submit</button></div>
            <div class="input-group" style="margin-bottom: 10px;margin-top: 10px;"><span class="input-group-text">Content Specifics</span><input class="form-control" type="text" value={{ content_specifics }}><button class="btn btn-primary" type="button">Submit</button></div>
            <!-- <button class="btn btn-primary" type="button">Start Stream</button> -->
            <a target="_blank" href="https://explorer.iota.org/mainnet/indexed/{{ message_id }}" class="card-text" style="margin-top: 16px;margin-bottom: 10px;">Last Message ID: {{ message_id }}</a>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>